<div class="new-games__container">
    <div class="game_photo__container">
        <img id="game_photo" src="assets/ratchet.jpg">
    </div>
    <div class="game_description">
        <p>Os aventureiros intergalácticos regressam em grande em Ratchet & Clank: Uma Dimensão à Parte!

            Salta pelas dimensões com o Ratchet e o Clank, à medida que se aventuram num PC perto de ti pela primeira
            vez. Ajuda-os a enfrentar um imperador malvado de outra realidade à medida que saltas entre mundos cheios de
            ação e viajas ainda mais além.

            Com o seu próprio universo na linha de fogo, limpa o pó às armas absurdas deste duo dinâmico e trava o
            colapso dimensional!

            Une o derradeiro duo com um elenco que inclui aliados já conhecidos e rostos novos, como a recém-chegada
            Rivet, uma lombax das forças da resistência de outra dimensão, igualmente determinada a eliminar o vilão
            robótico.</p>
        <div class="game_buttons">
            <button class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
                    <rect width="256" height="256" fill="none" />
                    <path d="M180,184H83.17a16,16,0,0,1-15.74-13.14L41.92,30.57A8,8,0,0,0,34.05,24H16" fill="none"
                        stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="16" />
                    <circle cx="84" cy="204" r="20" fill="none" stroke="#fff" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="16" />
                    <circle cx="180" cy="204" r="20" fill="none" stroke="#fff" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="16" />
                    <path d="M62.55,144H188.1a16,16,0,0,0,15.74-13.14L216,64H48" fill="none" stroke="#fff"
                        stroke-linecap="round" stroke-linejoin="round" stroke-width="16" />
                </svg>
                Buy</button>
            <button class="btn btn-secondary">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#fff" viewBox="0 0 256 256">
                    <path
                        d="M184,32H72A16,16,0,0,0,56,48V224a8,8,0,0,0,12.24,6.78L128,193.43l59.77,37.35A8,8,0,0,0,200,224V48A16,16,0,0,0,184,32Zm0,177.57-51.77-32.35a8,8,0,0,0-8.48,0L72,209.57V48H184Z">
                    </path>
                </svg>
                Whishlist</button>
        </div>
    </div>
</div>