<div class="home__container">
    <app-new-games />
    <div class="games-list">
        <app-card gameCover="assets/valorant.png" gamePrice="R$ 0,00" gameLabel="DIGITAL"></app-card>
        <app-card gameCover="assets/bt-4.jpg" gamePrice="R$ 199,00" gameLabel="DIGITAL"></app-card>
        <app-card gameCover="assets/bt-1.jpg" gamePrice="R$ 110,00" gameLabel="EXCLUSIVE"></app-card>
        <app-card gameCover="assets/bt-hardline.jpg" gamePrice="R$ 278,00" gameLabel="DIGITAL"></app-card>
        <app-card gameCover="assets/bt-bad-company-2.jpg" gamePrice="R$ 278,00" gameLabel="DIGITAL"></app-card>
    </div>

</div>